@mixin button($background-color, $color) {
  padding: 15px 30px;
  margin-right: 10px;
  font-size: 1.5em;
  color: $color;
  background-color: $background-color;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:disabled {
    background-color: lighten($background-color, 40%) ;
    cursor: none;
  }

  &:hover {
    background-color: lighten($background-color, 5%);
  }

  &:active,
  &:focus {
    background-color: lighten($background-color, 10%);
  }

  //TODO refactor
  &--delete {
    background-color: #B03520;

    &:disabled {
      background-color: lighten(#B03520, 40%) ;
      cursor: none;
    }

    &:hover {
      background-color: lighten(#B03520, 5%);
    }

    &:active,
    &:focus {
      background-color: lighten(#B03520, 10%);
    }
  }
}

@mixin button-container () {
    display: flex;
    justify-content: flex-start;
}

@mixin title($color) {
  font-size: 2em;
  color: $color;
  padding: 20px 0;
}
@mixin sub-title($color) {
  font-size: 1.2em;
  color: $color;
  padding: 10px 0;

}


@mixin list-item() {
  font-size: 1.1em;
  line-height: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 2px solid $color-accent-dark;
}
