// used colors
$green: #00796b;
$light-green: #48a999;
$dark-green: #004c40;
$color-light-gray: #ececec;
$color-dark-gray: #c5c5c5;


$color-primary: $green;
$color-accent-light: $light-green;
$color-accent-dark: $dark-green;

$font-color-dark: #070707;
$font-color-light: #fff;

