<mat-toolbar color="primary">
  <div class="container">
    <h1 routerLink="/"> ( CookBook )</h1>
    <div>
      <button mat-raised-button
              color="accent"
              routerLink="/shopping-list"
              routerLinkActive="active"> shopping list
      </button>
      <button mat-raised-button
              color="accent"
              routerLink="/recipes"
              routerLinkActive="active"> recipes
      </button>

      <button *ngIf="!isAuthenticated"
              mat-raised-button
              color="accent"
              routerLink="/sign-up"
              routerLinkActive="active"> sign up
      </button>
      <button *ngIf="!isAuthenticated"
              mat-raised-button
              color="accent"
              routerLink="/sign-in"
              routerLinkActive="active"> log in
      </button>

      <button *ngIf="isAuthenticated"
              mat-raised-button
              color="accent"
              (click)="logout()"> log out
      </button>
    </div>
  </div>
</mat-toolbar>

