<article class="recipe-detail__container">
  <div class="recipe-detail__btn-container">
    <button class="recipe-detail__button">To shopping list</button>
    <button class="recipe-detail__button">Edit recipe</button>
    <button class="recipe-detail__button recipe-detail__button--delete">Delete recipe</button>
  </div>

  <h1 class="recipe-detail__title">{{recipe.name}}</h1>

    <ul class="recipe-detail__ingredients-list">
      <li class="recipe-detail__ingredients-item">ingredients</li>
      <li class="recipe-detail__ingredients-item">ingredients</li>
      <li class="recipe-detail__ingredients-item">ingredients</li>
      <li class="recipe-detail__ingredients-item">ingredients</li>
    </ul>
    <img src="{{recipe.imgPath}}"
         alt="{{recipe.name}}"
         class="recipe-detail__img">

  <h2 class="recipe-detail__sub-title">Preparing</h2>
  <p class="recipe-detail__content">{{recipe.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquid autem blanditiis eligendi explicabo facere illo modi nesciunt nihil omnis praesentium quas ratione recusandae,
    repellat saepe, sapiente soluta tempore totam veritatis!
  </p>



</article>
