<form class="shopping-list-edit__form">
  <legend class="shopping-list-edit__title">Add to shopping list</legend>
    <label class="shopping-list-edit__label">Ingredient name :
      <input type="text"
             class="shopping-list-edit__input">
    </label>


    <label class="shopping-list-edit__label">Amount :
      <input type="number"
             class="shopping-list-edit__input">
    </label>


  <div class="shopping-list-edit__btn-container">
    <button type="submit" class="shopping-list-edit__button">Add</button>
    <button class="shopping-list-edit__button--lighter">Clear</button>
  </div>
</form>
