@import "../../../styles/tools";

@include standard-view();
:host {
}

section,
app-shopping-list-edit {
  background-color: #fff;
  padding: 32px;
}

section {
  grid-column: 1;
}

app-shopping-list-edit {
  grid-column: 2;
}

div,
header {
  padding: 8px 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  color: #5c6bc0;
}

button {
  margin-top: 16px;
}


